header {
	color: white;
	font-weight: 400;

	.top {
		background-color: $color-grey;
		padding: 0;

		.flex {
			align-items: center;

			& > .div{
				flex-basis: 1px;
				position: relative;
				height: $header-top-height;

				&:after{
					height: 90%;
					position: absolute;
					width: 1px;
					content: "";
					top: 0;
					-webkit-transform: translate(50%, -50%);
					transform: translate(50%, -50%);
					right: 50%;
					top: 50%;
					background-color: lighten($color-grey, 5%);
				}
			}

			.badge {
				pointer-events: none;
				position: absolute;
				right: 2px;
				bottom: 2px;
				background-color: $color-orange;
				color: white;
				font-size: 11px;
				width: 20px;
				z-index: 10;
				height: 20px;
				padding: 0;
				line-height: 20px;
				text-align: center;
				border-radius: 20px;
			}
		}

		.badge-des{
			height: $header-top-height;
			flex-basis: $size-sidebar;

			.stihl-badge{
				height: 100%;
				max-height: 100%;
				border-right: 3px solid white;
				float:left;
				img{
					height: 100%;
					max-height: 100%;
				}
			}

			.on-partner{
				height: $header-top-height;
				float:left;
				img{
					height: 100%;
					max-height: 100%;
				}
			}

			.hum-des{
				height: $header-top-height;
				float:left;
				position: relative;
				img{
					height: 100%;
					max-height: 100%;
					position: absolute;
					bottom: -15px;
					left: 0;
				}
			}

			.prev-vw {
				position: absolute;
				background: $color-orange;
				height: $header-top-height;
				left: 0;
				top: 0;
				width: 200px;
				content: "";
				border-right: 1px solid lighten($color-orange, 4%);
			}
		}
		.social {
			.flex {
				align-items: center;
				justify-content: flex-start;

				& > div {
					padding: 0 2px;
				}

				a {
					padding: 0;
					width: 20px;
					line-height: 20px;
					display: block;
					text-align: center;
					color: white;
					background-color: #aaaaaa;
					@include border-radius(10px);
				}
			}
		}

		.buttons{
			display: -webkit-box;
		  display: -ms-flexbox;
		  display: flex;
			align-items: center;
    	padding: 0 10px 0 13px;

			.ico {
				text-align: center;
				margin-bottom: 4px;
				img {
					height: 24px;
				}

				i {
					font-size: 24px;
					height: 24px;
				}
			}

			& > div{
				padding: 0 5px;
			}

			a.holder{
				background: #8996a1;
				border-radius: 8px;
				display: block;
				padding: 8px;
				font-size: 0.7em;
				color: white;
				width: 55px;
				text-align: center;
				text-decoration: none;
			}

			.login{
				a {
					background: $color-orange;
				}
			}
		}

		.cart {
			padding: 0;
			flex:1;
			.flex {
				align-items: center;
				& > div.ico {
					flex-basis: 35px;
					position: relative;
				}
				& > div.info {
					flex: 1;
				}
			}

			.badge {
				bottom: 5px;
				right: -10px;
			}
			.info {
				line-height: 1;
				padding: 0 5px 0 15px;
				text-align: left;
				.h {
					border-bottom: 1px solid #ffffffb0;
					padding: 0px 0 2px 0;
					margin: 0 0 2px 0;
				}
				.l {
					font-size: 0.7em;
					margin: 5px 0;
				}
				.cash {
					font-weight: bold;
					font-size: 1.3em;
				}
			}

			.floating{
				right: -13px;
				top: 100%;
				width: 350px;
				position: absolute;
				background: #ffffff;
				outline: 4px solid #c5161d91;
				display: none;
				z-index: 999;

				#cartContent{
					color: $color-grey;
				}

				.whattodo{
					.flex{
						& > div {
							flex: 1;
							a{
								display: block;
								text-align: center;
								padding: 0 10px;
								color: white !important;
								height: 42px;
								line-height: 42px;
								text-decoration: none;
								font-size: 0.9em;
								i{
									font-size: 20px;
									height: 22px !important;
									line-height: 1;
									vertical-align: middle;
								}
							}

							&.doorder{
								background: $color-green;
								a{
									font-size: 1.15em;
									text-transform: uppercase;
									font-weight: bold;
								}
							}

							&.doempty{
								background: $color-grey;
								a{
									color: #a9a9a9 !important;
								}
								i{
									font-size: 15px;
									height: 17px !important;
								}
							}
						}
					}
				}
			}

			& > div.holder{
				height: 100%;
				padding: 5px 15px;
				width: 173px;
				float: right;

				&:hover{
					background-color: darken($color-grey, 10%);

					.floating{
						display: block;
					}
				}
			}

			.flex{
				z-index: 12;
			}

			& > div.holder#mb-cart{
				position: relative;
			}
		}

		.actions {
			padding: 0 20px  0 80px;
			flex-basis: 400px;
			& > div.flex {
				align-items: center;
				justify-content: space-between;
				& > div {
					flex: 1;
					padding: 0 5px;
					button, a {
						@include border-radius(5px);
						border:  none;
						font-weight: bold;
						font-size: 0.75em;
    				padding: 10px;
						display: block;
						width: 100%;
					}
					&.visszahivas{
						button {
							background: $color-orange;
							color: white;
							text-transform: uppercase;
						}
					}
					&.feliratkozas{
						a {
							text-align: center;
							background: saturate(lighten($color-green, 5%), 10);
							color: white;
							text-decoration: none;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}

	.main {
		background-color: $color-green-light;
		padding: 10px 0;
		position: relative;
		z-index: 10;

		& > .pw > .flex {
			align-items: center;
		}

		.logo {
			flex-basis: $size-sidebar;
		}

		.searcher {
			flex: 1;
			text-align: right;
			.searchform {
				padding: 2px;
				float: right;
				width: 70%;
				background: white;

				.flex {
					.input {
						flex: 1;
					}
					.button {
						flex-basis: 85px;
						button {
							width: 100%;
							text-align: center;
							text-transform: uppercase;
							font-size: 0.7em;
							color: lighten($color-green, 10%);

							i {
								font-size: 18px;
								vertical-align: middle;
								margin: -1px 5px 0 0;
							}
						}
					}
				}

				input[type=text] {
					background: transparent;
					border: none;
					width: 100%;
					color: $color-green;

					@include border-radius-left(5px);
				}

				input[type=text],
				button {
					line-height: 40px;
    			padding: 0 12px;
				}

				button {
					background: transparent;
					color: $color-green;
					border: none;
					border-left: 1px solid #e6e6e6;
					padding: 0 8px;
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
		.actions {
			flex-basis: 305px;
			padding-left: 20px;
			font-size: 0.9em;

			& > .flex {
				align-items: center;
				justify-content: space-between;
				& > div{
					height: 56px;
				}
				& > div:not(.div) {
					text-align: center;
					flex-basis: 65px;
				}
				& > div.favorite{
					flex-basis:70px;
				}
				& > div.contact-phone{
					flex-basis: 200px;
					text-align: left;
					font-size: 1.3em;
					padding-left: 10px;

					img {
						height: 30px;
						margin-bottom: 5px;
					}
					a{
						color: white;
						text-decoration: none;
					}
				}
				& > .div{
					flex-basis: 12px;
					position: relative;

					&:after{
						height: 70%;
						position: absolute;
						width: 1px;
						content: "";
						top: 0;
						-webkit-transform: translate(50%, -50%);
          	transform: translate(50%, -50%);
						right: 50%;
						top: 50%;
						background-color: white;
					}
				}
				& > div.cart > div.holder > .floating{
					-webkit-transition: all .3s;
  					transition: all .3s;
					display: none;
					-webkit-transform-origin: top right;
          transform-origin: top right;

					.whattodo{
						display: none;

						&.active{
							display: block;
						}
					}
				}
				& > div.cart > div.holder:hover > .floating{
					display: block;
				}
			}

			.badge {
				pointer-events: none;
				position: absolute;
				right: 2px;
				bottom: 2px;
				background-color: $color-orange;
				color: white;
				font-size: 11px;
				width: 20px;
				z-index: 10;
				height: 20px;
				padding: 0;
				line-height: 20px;
				text-align: center;
				border-radius: 20px;
			}

			a.holder {
				padding: 5px;
				display: block;
				color: white;
				text-decoration: none;
				-webkit-transition: all 0.3s;
  			transition: all 0.3s;


				&:hover{
					background-color: $color-green;;
					-webkit-transform: scale(0.9);
         	transform: scale(0.9);
				}
			}

			i {
				font-size: 35px;
				vertical-align: middle;
				height: 35px;
			}

			.ico {
				height: 35px;
				position: relative;
				text-align: center;

				img {
					max-height: 35px;
					height: 35px;
				}
			}

			.adder i,
			.remove i {
				font-size: 18px !important;
				height: 18px !important;
				line-height: 18px !important;
			}

			.adder {
				i[class*=fa-minus] {
					color: #f16e74;
				}
				i[class*=fa-plus] {
					color: #8fd083;
				}
			}
		}
	}

	.bottom {
		background-color: darken( $color-green, 10% );
		padding: 0;
		position: relative;

		.nav{
			.sub {
				display: none;
				position: absolute;
				background: #eceff2;
		    width: 100%;
		    left: 0;
		    right: 0;
				top: 32px;
				z-index: 100;

				.inside {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					justify-content: space-between;
					padding: 15px 0;
					& > .sub-col{
						position: relative;
						flex: 1;
						padding: 0 20px;
    				align-self: stretch;

						.item{
							font-size: 0.9em;
							&.item-header{
								text-transform: uppercase;
								font-weight: bold;
								font-size: 1.1em;
								margin-top: 5px;
							}

							&.nav-img-icon{
								img {
									height: 15px;
									vertical-align: text-top;
								}
							}
							&.nav-img-small{
								img {
									height: 48px;
									vertical-align: text-top;
								}
							}
							&.nav-img-medium{
								img {
									height: 96px;
									vertical-align: text-top;
								}
							}
							&.nav-img-large{
								img {
									height: 180px;
									vertical-align: text-top;
								}
							}
							&.nav-img-top{
								img {
									display: block;
									margin: 0 auto 4px auto;

								}
							}
							&.item-align-center{
								a{
									text-align: center;
								}
							}

							a{
								line-height: 1.3;
								padding: 2px 0;
								display: block;
							}

							&.nav-link-stackview {
							    font-weight: bold !important;
							    font-size: 1.05em !important;
							    margin-top: 5px !important;
							    position: absolute !important;
							    bottom: -5px;
							    width: 100%;
									text-transform: uppercase;
							    line-height: 1;

									span:after{
										content:"\f105";
										font-family: 'FontAwesome';
										margin: 0 0 0 5px;
									}
							}
						}
						&:after{
							height: 100%;
							content:"";
							width: 1px;
							background: #d1d3d5;
							position: absolute;
							right: 0;
							top: 0;
							bottom: 0;
						}

						&.has-stacklink{
							padding-bottom: 30px;
						}
					}

					& > .sub-col:first-child{
						&:before{
							height: 100%;
							content:"";
							width: 1px;
							background: #d1d3d5;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
						}
					}

					a{
						color: $color-grey;
						text-decoration: none;
					}
				}
			}

			& > ul {
				display: -webkit-box;
			  display: -ms-flexbox;
			  display: flex;
				flex-wrap: wrap;
				align-items: center;
				height: 38px;

				& > li {
					height: 38px;
					 & > a{
						 text-transform: uppercase;
						 font-weight: bold;
						 font-size: 1em;
					   padding: 0 15px;
					   text-decoration: none;
					   display: block;
		 				 height: 38px;
						 line-height: 38px;

						 i {
							 font-size: 17px;
						   vertical-align: middle;
						   margin-left: 5px;
						 }
					 }
					&:hover{
						background: #eceff2;
						color: $color-grey;
						& > a {
							color: $color-grey;
						}
						& > .sub {
							display: block;
						}
					}
				}
			}
		}
	}
	.sec-bottom{
		background-color: $color-orange;
		height: $sec-bottom-header-height;
		position: relative;
		z-index: 5;

		.item-holder {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}

		.contacts {
			flex-basis: 365px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
    	justify-content: flex-end;
			font-size: 0.7em;
			line-height: 1.4;

			.email{
				flex: 1;
			}

			.address{
				flex-basis: 208px;
				border-left: 0.6px solid #f3804a;
				padding-left: 15px;
			}

			a {
				color: white;
				text-decoration: none;
			}

			.ico {
				float: left;
				margin-right: 8px;
				i {
					font-size: 24px;
				}
			}
		}

		.highlight-view{
			flex: 1;
			text-align: center;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;

			& > a.handler {
				display: block;
				font-size: 17px;
				color: #f78550;
				text-decoration: none;
				flex-basis: $sec-bottom-header-height;
				height: $sec-bottom-header-height;
				line-height: $sec-bottom-header-height;
				background: #d2581f;
    		margin: 0 0.5px 0 0;

				&:hover{
					color: #ffffff;
				}

				&.prev{
					left: 5px;
				}
				&.next {
					right: 5px;
				}
			}

			.items {
				flex: 1;
			}

			.hl-cont {
				margin: 0 auto;
				position: relative;
				height: $sec-bottom-header-height;

				ul {
					float:left;
					height: 32px;

					li {
						display: none;
						background: #343434;
						padding: 0 10px;
						height: $sec-bottom-header-height;
						line-height: $sec-bottom-header-height;
						font-size: 0.9em;
						font-weight: bold;

						&.active {
							display: block;
						}

						a{
							color: white;
							font-weight: normal;
						}
					}
				}
			}
		}
	}

	a, a:visited {
		color: white;
	}

	.logo {
		img {
			max-height: 50px;
			max-width: 100%;
		}

		position: relative;;

		.cimke {
			display: none;
			position: absolute;
			width: 100px;
			height: 15px;
			background: url('http://devsup-shop-cp.casada.hu/src/images/webshop_cimke.png') no-repeat center;
			bottom: -10px;
			pointer-events: none;
		}
	}
}


.general-sidebar {
	width: 20%;
	float: left;
	display: table-cell;
	vertical-align: top;

	.menu {
		li.menu-item {
			display: table;
			width: 100%;
			margin: 0 -1px -1px 0;
			border: 1px solid lighten( $color-sec, 1% );
			background: lighten( $color-sec, 9%);

			a {
				display: table-cell;
				font-size: 1.1em;
				line-height: 1.5;
				text-transform: uppercase;
				color: darken( $color-sec, 50%);
				font-family: $font-sans-narrow;
				font-weight: 700;
				padding: 5px 10px;
				vertical-align:middle;
				text-decoration: none;

				img {
					float: left;
					margin-right: 5px;
					vertical-align: middle;
				}

				i {
					width: 25px;
					height: 25px;
					font-size: 25px;
				}

				span {
					line-height: 25px;
				}
			}

			span.icon {
				width: 35px;
				text-align:center;
				display: table-cell;
				vertical-align:middle;
				padding-left: 8px;
			}

			i.dashicons {
				line-height: 28px;
    			font-size: 1.2em;
			}
		}
		li.blank-divider{
			background: transparent;
			border: none;
			padding: 10px 0;
    	display: block;
		}
		li.text-item-header{
			font-size: 1.1em;
			text-transform: uppercase;
			color: black;
			font-weight: bold;
			font-family: "PT Sans Narrow", sans-serif;
			text-align: center;
		}
		li.kat-child{
			border-left: 2px solid #cccccc;
			a {
				font-weight: normal;
				font-size: 0.9em;
				text-transform: none;
			}
		}
		li.text-thin a {
			font-weight: 400;
		    font-size: 1.2em;
		    display: block;
		    padding-left: 15px;
		    width: 100%;
		    text-transform: lowercase;
		}
		.webshop-cat-items {

			li.cat-item{
				border-bottom: 1px solid #DCDCDC;

				a {
					font-weight: 400;
					font-size: 1.2em;
					display: block;
					padding-left: 15px;
					width: 100%;

					text-transform: lowercase;
				}
			}
		}

		li.menu-item.has-icon.two-row:not(.text-thin) {
			span.ic {
				display: table-cell;
				vertical-align: middle;
			}
			span.text {
				display: table-cell;
				vertical-align: middle;
				line-height: 1;
				padding-left: 8px;
			}
		}
	}
}
