/* 1024 - 1050 px - MEDIUM */
@media all and (max-width: 1050px)
{
	.website, .pw, .page-width,
	{
		width: 100%;
	}

	.slideShow {
		width: 817px;
	}

	.share-box, .cart-float {
		position:relative;
		right: auto;
		left: auto;
		top: auto;
		bottom: auto;
		display: none;
	}

	.mobile-sharer .share-box {
		display: table;
		 table-layout:fixed;
		width: 100%;
	}

	.mobile-sharer .share-box > div {
		display: table-cell;
		text-align: center;
	}

	.mobile-sharer .share-box > div a {
		display: block !important;
		text-align: center !important;
		color: white !important;
		padding: 8px !important;
	}

	.general-sidebar .menu li.menu-item a {
		font-size: 1em;
	}
	.menu-widget .head {
		font-size: 0.9em;
	}
	.menu-widget .slides {
		max-width: 203px;
	}
}
/* 0 - 1023 px - SMARTPHONE */
@media all and (max-width: 1023px)
{
	header .main{
		padding: 0 !important;
		.logo{
			padding: 10px !important;
		}
	}
	.product-view > .product-data,
	.product-view > .product-data .more-datas .info-texts,
	.product-view > .product-data .more-datas .related-products{
		padding: 0;
	}
	.product-view > .product-data .top-datas > div,
	.product-view > .sidebar,
	.product-view > .product-data .more-datas .info-texts,
	.product-view > .product-data .more-datas .related-products{
		flex-basis: 100%;
	}
	.product-view > .sidebar{
		order: 3;
	}
	.product-view > .product-data .top-datas .main-data .helpdesk-actions > .callhelp{
		flex-basis: 100%;
		margin: 10px 0;
		padding: 0 !important;
	}
	.product-view > .product-data .top-datas .main-data .status-params > div{
		flex-basis: 100% !important;
		height: 20px;
		margin: 5px 0;
	}
	.product-view > .product-data .top-datas .main-data .status-params > div > .h{
		flex-basis: 40%;
	}
	.product-view > .product-data .top-datas .main-data .status-params > div > .v{
		flex-basis: 60%;
		text-align: right;
	}
	.product-view > .product-data .top-datas .main-data .status-params .free-transport{
		text-align: center;
	}
	.product-view > .product-data .top-datas .main-data .status-params .free-transport .free-transport-ele{
		margin: 0 auto;
	}
	.product-view > .product-data .more-datas .info-texts .description{
		padding: 0 15px;
	}
	.product-view > .product-data .top-datas .main-data,
	.product-view > .product-data .top-datas .images{
		padding: 15px;
	}
	.product-view > .product-data .nav{
		margin: 15px 15px 0 15px;
	}
	.related-products .items .item{
		flex-basis: 100% !important;
	}
	.sub-categories .item .img{
		height: 18vw;
	}
	.sub-categories .item {
    flex-basis: calc(100%/3);
	}
	.sub-categories > .lists{
		display: none;
	}
	.cat-nav{
		margin: 10px;
	}
	.filter-sidebar .side-group .head{
		font-size: 1.3rem;
	}
	footer .main{
		padding: 15px;
	}
	footer .main > .pw > .wrapper .links,
	footer .main > .pw > .wrapper .subs{
		flex-basis: 100%;
	}
	footer .main > .pw > .wrapper .links > .wrapper > .flex .segitseg{
		text-align: center;
	}
	footer .main > .pw > .wrapper .links ul li a{
		font-size: 1.2rem;
	}
	footer .main > .pw > .wrapper .links > .wrapper{
		padding: 20px 0;
	}
	footer .main h3 {
    margin: 0 0 15px 0;
    font-size: 1.5rem;
	}
	footer .main{
		margin: 0;
	}
	footer .main > .pw > .wrapper{
		padding: 25px 0 0 0;
	}
	footer .nav{
		padding: 15px;
	}
	footer .nav .logo{
		flex-basis: 100%;
		text-align: center;
		padding: 10px 0 25px 0;
	}
	footer .info > .pw > .flex > div {
		flex-basis: 100% !important;
		text-align: center !important;
	}
	footer .info > .pw > .flex > div + div {
		margin-top: 15px;
	}
	footer .info .social .flex{
		justify-content: center;
	}
	footer .info .social .flex > div{
		padding: 10px;
	}
	footer .info{
		padding: 15px;
	}
	footer .nav .navi{
		padding: 0;
	}
	footer .nav .flex > div {
		flex-basis: 100%;
	}
	footer .nav .navi a{
		padding: 10px;
		display: block;
		text-align: center;
		font-size: 1.2rem;
	}
	header .sec-bottom{
		height: auto;
	}
	header .sec-bottom .item-holder{
		flex-wrap: wrap;
	}
	header .sec-bottom .item-holder > div{
		flex-basis: 100%;
		flex: auto;
	}
	header .sec-bottom .highlight-view .hl-cont ul{
		width: 100%;
		left: none;
	}
	header .sec-bottom .highlight-view .hl-cont ul li{
		font-size: 1.4vw;
	}
	header .sec-bottom .contacts .email,
	header .sec-bottom .contacts .address{
		flex-basis: 50%;
		text-align: center;
		padding: 5px;
		.ico {
			display: none;
		}
	}
	footer{
		margin:0;
	}

	.sub-categories{
		margin: 20px 0;
    padding: 0 10px;
	}

	header .main .logo{
		flex-basis: 100%;
		padding: 5px;
	}

	.category-listing .list-view > .grid-layout .grid-row.products{
		padding: 0;
	}

	.sub-categories .title h3 {
    background: #efefef;
    padding: 10px;
    border-radius: 10px;
	}

	.home .home-content{
		padding: 0;
	}
	.fb-page {
		display: none !important;
	}

	a.fb-link {
		background: #3a5795;
		border: 2px solid lighten(#3a5795, 5%);
		padding: 8px;
		font-size: 1.4em;
		margin: 5px 0;
		color: white;
		display: block;
		width: 100%;
	}
	.home.landing .welcome .text{
		position: relative;
		width: 100%;
		max-width: initial;
		background: rgba(255, 255, 255, 0.77);
    padding: 15px;
		font-size: 1.3rem;
		overflow: initial;
		height: auto;
		max-height: initial;
	}
	.home.landing .welcome {
    background-position: center;
    background-size: cover;
		height: auto;
		max-height: initial;
	}

	.website {
		margin: 0;
	}

	body.fixheader .website{
		margin-top: 225px;
	}

	header {
		top: 0;
		width: 100%;
		display: block;
		z-index: 1111;
		font-size: 1.4em;
		border-bottom: 2px solid #e6e6e6;
    box-shadow: 0 5px 30px -10px #a5a2a2;
	}

	.slideShow {
		display: none !important;
	}
	.home.landing .stihl-webshop{
		height: 450px;
	}
	.general-sidebar {
		height: 100%;
		position: fixed;
	    width: 100%;
	    z-index: 111;
	    float: none;
	    display: none;
	    background: rgba(0, 0, 0, 0.91);
	    padding-bottom: 25px;
	}
	.general-sidebar.opened {
		display:block;
	}
	.general-sidebar .menu {
		width: 70%;
		overflow:auto;
		height: 100%;
	}
	.general-sidebar .menu li.menu-item a {
		font-size: 1.5em;
	}

	.site-container {
		width: 100%;
		float: none;
		display: block;
	}

	.grid-layout:not(.kpm),
	.grid-layout:not(.kpm) .grid-row {
		flex-basis: 100% !important;
	}

	.product-view,
	.account {
		.grid-layout:not(.kpm) *[class^=grid-row],
		.grid-layout:not(.kpm),
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:first-child,
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:last-child {
			padding: 0 !important;
		}
	}

	.flatInfoBox > div {
		font-size: 0.9em;
	}

	.grid-layout .grid-row:after {
		content:"";
		position: relative;
		height: 1px;
		width:100%;
		clear:both;
	}

	.referring-view{
		.kimelt-link {
			display: none;
		}

		.partner-referer-orders h2{
			line-height: 1;
			margin: 10px 0;
		}
	}

	.account {
		h1 {
			margin: 20px 0 25px 0;
		}
	}

	.order {
		.serial {
			float: none;
			width: 100%;
		}

		h1 {
			margin: 10px 0;
		}
	}

	.mobile-header {
		line-height: 3;

		.cart, .place-search, .acv, .ct {
			float: right;

			a {
				display: block;
				padding: 0 15px;
				color: #FF99B5;
			}
		}
		.menu-switcher {
			float: left;
			padding: 0 25px;
		}
		.menu-switcher:active {
			background: #222;
		}

		.cart {
			a {
				text-decoration: none;
				color: white;
			}
			.cart-item-num-v {
			    background: #fff;
			    color: $color-pr;
			    font-weight: bold;
			    font-size: 0.65em;
			    border-radius: 20px;
			    padding: 0 6px;
			}
		}
	}

	.product-view .main-view{
		display: block;
		.images, .data-view {
			width: 100%;
			display: block;
		}
		.images .all {
			margin: 0 auto;
			width: 375px;
		}

		.free-transport {
			margin: 10px 0;
		}

		.links {
			padding: 0 15px;
		}
		.data-view {
			padding: 0 15px;
			.action-bar a {
				font-size: 1.2em;
			}
		}
		.prices {
			.base {
				float: left;
			}
			.partner-price {
				float: right;
			}
		}

		.status {
			font-size: 1.5em;
		}

		#cart-msg {
			font-size: 1.4em;
		}
	}
	.product-view {
		.buy-basic-info {
			margin-top: 15px;
		}
	}

	.dropdown-list-container .dropdown-list-selecting.showed {
		z-index: 10;
	}
	.dropdown-list-title {
		font-size: 1.8em;
	}
	.dropdown-list-container .dropdown-list-selecting > div{
		font-size: 1.8em;
		padding: 10px 0;
	}
	.dropdown-list-container .dropdown-list-selecting{
		top: 48px;
	}

	.category-listing{
		.category-title .filters {
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}

		h1 {
			display: block;
			margin: 10px;
		}
	}

	.product-ajanlott .items .item,
	.related-products .items .item {
		width: 100%;
		display: block;
	}

	.webshop-product-top .items .item{
		margin: 0;
		.image, .details, .buttons {
			float: none;
			flex-basis: 100%;
			width: auto;
		}

		.buttons > div.fav {
			flex-basis: 20% !important;
		}
		.buttons > div.link {
			flex-basis: 40% !important;
		}
		.buttons > div.order {
			flex-basis: 40% !important;
		}

		.buttons .holder {
			.watch, .order {
				float: left;
				width: 50%;
				height: auto !important;

				a {
					padding: 25px 5px;
				}
			}
		}

		.price {
			font-size: 0.90em;
		}

		.extra-info{
			width: 100%;
			margin: 0;
			.each {
				line-height: 1;
				padding: 5px;
				font-size: 0.65em;
			}
		}
	}
	.nextOrded .steps {
		padding: 10px;
	}

	.divCol,
	.nextOrded .col2  {
		height: auto !important;
		border: none !important;
	}
	.order-contact-info * {
		text-align: left !important;
		line-height: 1.2;
	}

	.nextOrded .col1,
	.nextOrded .col2 {
		padding: 0 !important;
	}

	.nextOrded .allStepView ul li {
		float: none;
		width: 100%;
	}
	.nextOrded .allStepView ul li.active:after {
		display: none;
	}
	.nextOrded .allStepView ul li.done:after{
		left: auto;
		top: 50%;
	}

	.shop-search-view {
		 .near-of-me{
		 	text-align: center;

		 	.place-details {
		 		.name {
		 			margin: 8px 0;
			 		line-height: 1;
			 	}
		 	}

		 	.infos {
		 		text-align: center;
		 		border-top: 1px solid lighten($color-pr, 20%);
		 		padding-top: 5px;
		 		margin-top: 5px;
		 	}
		 }

		 .shop-list {
		 	.logo {
		 		text-align: center;
		 	}

		 	.shop {
		 		border-bottom: 5px solid $color-sec;

		 		.infos {
			 		text-align: center;
			 		border-top: 1px solid lighten($color-sec, 10%);
			 		padding: 10px 0;
			 		margin: 15px 15px 5px 15px;
			 	}
		 	}
		 	.shop:last-child {
		 		border-bottom: none;
		 	}
		 }
	}

	.shop-cat .cat {
		width: 50%;
	    display: block;
	    float: left;
	}

	footer .menu li a {
		font-size: 1.15em;
		line-height: 1.55;
	}

	.hide-on-mobile {
		display:none !important;
	}
	.show-on-mobile {
	  display: block !important;
	}
}

/* 0 - 640 px - SMARTPHONE */
@media all and (max-width: 640px)
{
	.page .side-menu{
		flex-basis: 100%;
	}
	.webshop-product-top .items .item, .related-products .items .item{
		flex-basis: 100%;
	}
	.webshop-product-top .items, .related-products .items{
		padding: 10px;
	}
	.webshop-product-top .items .item .image, .webshop-product-top .items .item .details, .webshop-product-top .items .item .buttons{
		margin: 0;
	}
	.webshop-product-top .items .item + .item,
	.related-products .items .item + .item{
		margin-top: 10px;
	}
	.page .responsive-view{
		padding: 15px;
	}
	.side-menu ul li a{
		padding: 8px 15px;
	}
	.side-menu ul li.head a, .side-menu ul li.head{
		background: #efefef;
		padding: 15px;
	}
	header .sec-bottom .highlight-view{
		display: none;
	}
	.kollega-list {

		ul {
			li {
				width: 33.333333333%;
			}
			li + .clr {
				display: none;
			}
		}
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 398px)
{
	.sub-categories .item .img{
		height: 36vw;
	}
	.sub-categories .item {
    flex-basis: calc(100%/2);
	}
	.product-view .product-desc {
	  width: 100% !important;

	  img {
	  	width: 90%;
	  	height: auto;
	  }
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 375px)
{
	body {
		font-size: 0.9em;
	}

	.floating-box.contact-msg .labtext {
		left: -85px;
	}

	.product-view .main-view .images .all {
		width: 300px;
	}

	.switcherView .inset {
		iframe {
			width: 100% !important;
		}
	}
	.viewSwitcher > div {
		width: 100%;
	}

	.kollega-list {

		ul {
			li {
				width: 50%;
			}
			li + .clr {
				display: none;
			}
		}
	}
}
