/* VÁLTOZÓK */
$page-width: 1150px;
$size-sidebar: 280px;
$header-top-height: 64px;
$imgroot: "//www.cp.r-agrikol.web-pro.hu/";

/* COLORS */

$color-red: #c5161d;
$color-green: #388a3d;
$color-green-light: #90c340;
$color-orange: #f26522;
$color-yellow: #f09f0f;
$color-grey: #505050;
$color-pr: $color-green;
$color-sec: $color-orange;

/* FONTS */
$font-cond: 'Roboto', sans-serif;
$font-sans-narrow: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=latin-ext');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-radius: $radius $radius 0 0;
     -moz-border-radius: $radius $radius 0 0;
      -ms-border-radius: $radius $radius 0 0;
          border-radius: $radius $radius 0 0;
}
@mixin border-radius-left($radius) {
  -webkit-border-radius: $radius 0 0 $radius;
     -moz-border-radius: $radius 0 0 $radius;
      -ms-border-radius: $radius 0 0 $radius;
          border-radius: $radius 0 0 $radius;
}
@mixin border-radius-right($radius) {
  -webkit-border-radius: 0 $radius $radius 0;
     -moz-border-radius: 0 $radius $radius 0;
      -ms-border-radius: 0 $radius $radius 0;
          border-radius: 0 $radius $radius 0;
}
